@import "./../../styles/styles.scss";

.movies {
  .search__noresults {
    margin-top: 60px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 44px;

    &__results {
      display: flex;
      flex-direction: column;
      gap: 4px;
      &--term {
        font-size: $font_size_2;
        color: $white;
        font-weight: 600;
      }
      &--number {
        font-size: $font_size_4;
        color: $gray;
      }
    }
  }
}
